<div class="container">
    <img class="youtube-logo" src="assets/youtubeLogo.png" alt="YouTube Logo">
    <h1>About Us</h1>
    <div class="about-content">
      <p>Welcome to our website! We are passionate about providing you with the best video browsing experience. Our team works tirelessly to ensure that you can easily find and enjoy your favorite videos, whether it's music, tutorials, or entertainment.</p>
      <p>Our mission is to make the process of discovering and watching videos seamless and enjoyable for everyone. We strive to bring you the latest and most relevant content, keeping you entertained and informed at all times.</p>
      <p>Thank you for choosing our platform. We hope you have a fantastic experience!</p>
    </div>
</div>