.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .start-searching-button {
    text-align: center;
  }
  
  .btn-secondary {
    font-size: 24px;
    padding: 20px 40px;
  }

  .youtube-logo {
    width: 300px;
    margin-bottom: 20px;
}

@keyframes spreadText {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .start-searching-button {
      animation: spreadText 0.45s ease-out forwards;
    }

    .btn-secondary {
      font-size: 24px;
      padding: 20px 40px;
      overflow: hidden;
    }

    .btn-secondary i {
      display: inline-block;
      margin-right: 10px;
    }
